body {
  margin: 0;
  height: 100vh;
  background: bottom center no-repeat url("Img/Phone.svg"), top left no-repeat url("Img/BGL.svg"), top right no-repeat url("Img/BGR.svg");
}
.wrapper {
  width: 80.5%;
  margin: auto;
}
.header {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.logo__text {
  padding-top: 31px;
  padding-left: 55px;
  font: 700 37px/52px pt_sans_captionregular;
  letter-spacing: -1.5px;
}
.logo__rectangle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  transform: rotate(45deg);
  top: 53px;
}
.logo__rectangle_color_orange {
  top: 43px;
  left: 10px;
  background: #FFBE4D;
  opacity: .5;
}
.logo__rectangle_color_dark-orange {
  left: 14px;
  top: 46px;
  background: #E89C38;
  opacity: .5;
  }
.menu {
  padding: 54px 6px 54px 0;
}
.menu__item {
  position: relative;
  font: 700 18px/23px pt_sans_captionbold;
  margin-right: 21px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  opacity: .5;
  cursor: pointer;
}
.menu__item:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #D2691E;
  left: 0;
  opacity: 0;
  transition: opacity .3s;
}
.menu__item:hover:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #D2691E;
  left: 0;
}
.menu__item:hover:after {
  opacity: 1;
}
.main__title {
  font: 700 40px/51px pt_sans_captionbold;
  text-align: center;
  width: 57%;
  padding-top: 58px;
  margin: auto;
}
.main__buttons {
  width: 422px;
  margin: auto;
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
}
.main__buttons_applestore {
  display: inline-block;
  width: 195px;
  height: 64px;
  background: no-repeat url("Img/AppleStoreButton.svg");
}
.main__buttons_applestore:hover {
  opacity: .5;
}
.main__buttons_googleplay {
  display: inline-block;
  width: 195px;
  height: 64px;
  background: no-repeat url("Img/GooglePlayButton.svg");
}
.main__buttons_googleplay:hover {
  opacity: .5;
}
/*adoptation for 1366*768*/
@media (min-width: 1366px) and (max-width: 1919px) {
  body {
    background: bottom center no-repeat url("Img/Phone1366.svg"), bottom left no-repeat url("Img/BGL1366.svg"), top right no-repeat url("Img/BGR1366.svg");
  }
  .wrapper {
    width: 73.5%;
    margin: 0 44% 0 15.5%;
  }
  .logo__text {
    padding-top: 27px;
    padding-left: 50px;
    font: 700 28px/52px pt_sans_captionregular;
  }
    .logo__rectangle {
      width: 22px;
      height: 22px;
    }
  .logo__rectangle_color_orange {
      top: 39px;
      left: 12px;
    }
  .logo__rectangle_color_dark-orange {
      left: 16px;
      top: 43px;
    }
  .menu {
    padding-top: 50px;
  }
  .menu__item {
    font: 700 14px/18px pt_sans_captionbold;
    margin-right: 20px;
  }
  .main__title {
    font: 700 32px/41px pt_sans_captionbold;
    width: 75%;
    margin-left: 9.5%;
    padding-top: 32px;
  }
  .main__buttons {
    width: 292px;
    margin: auto;
    padding-right: 62px;
    padding-top: 41px;
  }
  .main__buttons_applestore {
    display: inline-block;
    width: 134px;
    height: 44px;
    background: no-repeat url("Img/AppleStoreButton1366.svg");
  }
  .main__buttons_googleplay {
    display: inline-block;
    width: 134px;
    height: 44px;
    background: no-repeat url("Img/GooglePlayButton1366.svg");
  }
}
/*adoptation for 1170*768*/
@media (min-width: 597px) and (max-width: 1366px) {
  body {
    background: bottom center no-repeat url("Img/Phone1170.svg"), top left no-repeat url("Img/BGL1170.svg"), top right no-repeat url("Img/BGR1170.svg");
  }
    .wrapper {
    width: 86%;
    margin-left: 10%;
  }
  .logo__text {
    padding-top: 27px;
    padding-left: 50px;
    font: 700 28px/52px pt_sans_captionregular;
  }
    .logo__rectangle {
      width: 22px;
      height: 22px;
    }
  .logo__rectangle_color_orange {
      top: 39px;
      left: 12px;
    }
  .logo__rectangle_color_dark-orange {
      left: 16px;
      top: 43px;
    }
  .menu {
    padding-top: 50px;
  }
  .menu__item {
    font: 700 14px/18px pt_sans_captionbold;
    margin-right: 20px;
  }
  .main__title {
    font: 700 32px/41px pt_sans_captionbold;
    width: 71%;
    margin-left: 11%;
    padding-top: 33px;
  }
  .main__buttons {
    width: 291px;
    margin: auto;
    padding: 40px 70px 0 0;
  }
  .main__buttons_applestore {
    display: inline-block;
    width: 134px;
    height: 44px;
    background: no-repeat url("Img/AppleStoreButton1366.svg");
  }
  .main__buttons_googleplay {
    display: inline-block;
    width: 134px;
    height: 44px;
    background: no-repeat url("Img/GooglePlayButton1366.svg");
  }
}
/*adoptation for mobile*/
@media (max-width: 596px) {
  body {
    background: bottom center no-repeat url("Img/PhoneMobile.svg");
  }
  .wrapper {
    width: 100%;
  }
  .logo {
    position: relative;
    margin: auto;
    width: 200px;
    margin-top: 109px;
  }
  .logo__text {
    padding: 0 0 0 70px;
    font: 700 42px/52px pt_sans_captionregular;
  }
  .logo__rectangle {
    position: absolute;
    width: 33px;
    height: 33px;
  }
  .logo__rectangle_color_orange {
    top: 6px;
    left: 14px;
  }
  .logo__rectangle_color_dark-orange {
    left: 19px;
    top: 11px;
    }
  .menu {
    display: none;
  }
  .main__title {
    font: 700 24px/31px pt_sans_captionbold;
    width: auto;
    margin: 0 15% 0 12%;
    padding: 25px 0 0 0;
  }
  .main__buttons {
    width: 226px;
    padding-top: 67px;
    padding-right: 7px;
  }
  .main__buttons_applestore {
    display: inline-block;
    width: 108px;
    height: 35px;
    background: no-repeat url("Img/AppleStoreButtonMobile.svg");
  }
  .main__buttons_googleplay {
    display: inline-block;
    width: 108px;
    height: 35px;
    background: no-repeat url("Img/GooglePlayButtonMobile.svg");
  }
}
@media (max-height: 650px) and (max-width: 373px) {
  body {
    height: 690px;
  }
}
/*бургер-меню*/
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  z-index: 2;
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  right: 38px;
  width: 25px;
  height: 44px;
  cursor: pointer;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FF9100;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  z-index: 1;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 178px 0;
  list-style: none;
  text-align: center;
  align-items: center;
  background-color: #fff;
}
.menu__item_mobile {
  display: block;
  padding: 12px 24px;
  color: #333;
  font: 700 30px/36px Museo_Sans_Cyrl;
  text-decoration: none;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
/*скрывает бургер-меню на высоком разрешении*/
@media (min-width: 597px) {
  .hamburger-menu {
    display: none;
  }
  .menu__box {
    display: none;
  }
}
